<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(ログイン)}">
</head>


<body>
	<div th:replace="~{layout :: header}"></div>

	<div id="parent">
        <div id="child1">
			<button onclick="history.back()" id="button_back">back<br>←</button>
        </div>
        <div id="child2">
			<h1 id="title">ユーザー退会</h1>
			<form th:action="@{/delete}" method="post">
                <div id="checkMsg">
                    退会します、よろしいですか？<br>
                </div>
				<div id="checkMsg_des">
                    退会すると、再度ログインすることが出来なくなります<br>
                    本当によろしいですか？
                </div>
				<button type="submit" id="button">退会</button>
			</form>
		</div>
	</div>

	<div th:replace="~{layout :: footer}"></div>
</body>

</html>