<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(breeze【長文whisper表示】)}">
        <link rel="stylesheet" href="../../static/css/style.css" />
    </head>

    <body>
        <div th:replace="~{layout :: header}"></div>

        <div id="parent">
            <div id="child1">
                <!-- TODO -->
                <form th:action="@{/login}" method="get">
                    <button type="submit" id="button">ログイン</button>
                </form>
            </div>
            <div id="child2">
                <table id="th">
                    <tbody>
                        <tr>
                            <th>
                                <span th:text="${whisper.name}">Whisperer</span>
                                <span th:text="${whisper.postDate}"
                                    >yyyy-MM-dd</span
                                >
                            </th>
                            <td id="time-line"><span th:text="${whisper.text}">text</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="child3">
                <button onclick="history.back()" id="button_back">
                    back<br />←
                </button>
            </div>
        </div>

        <div th:replace="~{layout :: footer}"></div>
    </body>
</html>
