<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(ログイン)}"></head>
    <body>
        <div th:replace="~{layout :: header}"></div>
        <div id="parent">
            <div id="child1">
                <!--ログアウトしているときに表示-->
                <form
                    sec:authorize="isAnonymous()"
                    th:action="@{/login}"
                    method="get"
                >
                    <button type="submit" id="button">ログイン</button>
                </form>
                <!--ログインしているときに表示-->
                <form
                    sec:authorize="isAuthenticated()"
                    th:action="@{/check-logout}"
                    method="get"
                >
                    <button type="submit" id="button">ログアウト</button>
                </form>
                <form
                    sec:authorize="isAuthenticated()"
                    th:action="@{/check-delete}"
                    method="get"
                >
                    <button type="submit" id="button">退会</button>
                </form>
            </div>
            <div id="child2">
                <table id="th">
                    <tbody>
                        <tr th:each="Whisper : ${whispers}">
                            <!-- TODO 長文レビューに推移できるようにする -->
                            <form
                                th:action="@{/breeze/{WhisperId}(WhisperId=${Whisper.WhisperId})}"
                                method="get"
                            >
                                <th>
                                    <span
                                        th:text="${Whisper.name}"
                                        th:unless="${Whisper.anonymous}"
                                    ></span>
                                    <span th:if="${Whisper.anonymous}"
                                        >Whisperer</span
                                    >
                                    <span th:text="${Whisper.postDate}"
                                        >yyyy-MM-dd</span
                                    >
                                    <button
                                        type="submit"
                                        th:if="${userId == Whisper.userId}"
                                    >
                                        編集
                                    </button>
                                </th>
                                <td>
                                    <span th:text="${Whisper.text}">text</span>
                                </td>
                                <td>
                                    <!-- TODO style -->
                                    <button
                                        type="submit"
                                        th:if="${#strings.length(Whisper.text) >= 150}"
                                    >
                                        続きを見る
                                    </button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div sec:authorize="isAuthenticated()" id="child3">
                <form th:action="@{/breeze/whisper}" method="get">
                    <div>
                        <button type="submit" id="button">新規投稿🖋</button>
                    </div>
                </form>
            </div>
        </div>
        <div th:replace="~{layout :: footer}"></div>
    </body>
</html>
