<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(breeze【Whisper編集】)}"> </head>

    <body>
        <div th:replace="~{layout :: header}"></div>

        <div id="parent">
            <div id="child1">
                <button onclick="history.back()" id="button_back">←back</button>
            </div>
            <div id="child2">
                <form
                    th:action="@{/breeze/whisper}"
                    th:object="${whisperForm}"
                    method="post"
                >
                    <div>
                        <label for="whisper"
                            >編集する内容を入力（500文字以内）</label
                        ><br />
                        <textarea
                            name="whisper"
                            id="textarea"
                            th:text="*{text}"
                            th:field="*{text}"
                        ></textarea>
                    </div>
                    <!--
                <input type="radio" name="anonymous" value="true" th:field="*{anonymous}"> 名前を公開する<br>
                <input type="radio" name="anonymous" value="false" th:field="*{anonymous}"> 名前を公開しない<br>
                -->
                    <label for="whisper" id="check-box">
                        <input
                            type="checkbox"
                            th:value="*{anonymous}"
                            th:field="*{anonymous}"
                        /><span>名前を公開しない</span> </label
                    ><br />
                    <button type="submit" id="button">ReWhisper🖋</button>
                </form>
            </div>
        </div>

        <div th:replace="~{layout :: footer}"></div>
    </body>
</html>
