<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(ログイン)}">
</head>

<body>
    <div th:replace="~{layout :: header}"></div>

    <div id="parent">
        <div id="child1">
            <button onclick="history.back()" id="button_back">back<br>←</button>
        </div>
        <div id="child2">
            <h1 id="title">Whisper</h1>
            <form th:action="@{/breeze/new}" th:object="${albumForm}" method="post">
                <div>
                    <label for="title">投稿する内容を入力（500文字以内）</label><br>
                    <textarea name="whisper" id="textarea"></textarea>
                </div>
                <input type="radio" name="anonymous" value="true" checked> 名前を公開する<br>
                <input type="radio" name="anonymous" value="false"> 名前を公開しない<br>

                <button type="submit" id="button">Whisper🖋</button>
            </form>
        </div>

    </div>
</body>

</html>