<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(breeze【Whisper編集】)}"> </head>

    <body>
        <div th:replace="~{layout :: header}"></div>

        <div id="parent">
            <div id="child1">
                <button onclick="history.back()" id="button_back">←back</button>
            </div>
            <div id="child2">
                <form
                    th:action="@{/breeze/edit/{whisperId}(whisperId=${whisperId})}"
                    th:object="${whisperForm}"
                    method="post"
                >
                    <div>
                        <label for="whisper"
                            >編集する内容を入力（約１万文字以内）</label
                        ><br />
                        <div th:if="${param.null}" style="color: red">
                            <a>無効な投稿です</a>
                        </div>
                        <textarea
                            name="whisper"
                            id="textarea"
                            th:field="*{text}"
                        ></textarea>
                    </div>
                    <label for="whisper" id="check-box">
                        <input
                            id="whisper"
                            type="checkbox"
                            th:field="*{anonymous}"
                        /><span>名前を公開しない</span> </label
                    ><br />
                    <button type="submit" id="button">ReWhisper🖋</button>
                </form>
                <form
                    th:action="@{/breeze/edit/{whisperId}/delete(whisperId=${whisperId})}"
                    method="post"
                >
                    <div>
                        <button
                            type="submit"
                            onclick="return confirm('本当に削除しますか？');"
                            id="remove_button"
                        >
                            削除
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div th:replace="~{layout :: footer}"></div>
    </body>
</html>
