<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(breeze【ログアウト】)}"> </head>

    <body>
        <div th:replace="~{layout :: header}"></div>
        <div id="parent">
            <div id="child1">
                <button onclick="history.back()" id="button_back">
                    back<br />←
                </button>
            </div>
            <div id="child2">
                <h1 id="title">ログアウト</h1>
                <form th:action="@{/logout}" method="post">
                    <div id="checkMsg">
                        ログアウトします、よろしいですか？<br />
                    </div>
                    <div id="checkMsg_des">
                        (ログアウトした場合、Whisper機能を使用する際は再度ログインしてください)
                    </div>
                    <button type="submit" id="button">ログアウト</button>
                </form>
            </div>
        </div>

        <div th:replace="~{layout :: footer}"></div>
    </body>
</html>
