<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: head(ログイン)}">
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
  </head>
  <body>
    <div th:replace="~{layout :: header}"></div>
    <h1>Login</h1>
    <div th:if="${param.error}" class="errorMsg">
      ユーザ名、またはパスワードが違います
    </div>
    <form th:action="@{/insert}" method="post">
      <div>
        <label for="username">ユーザーネーム</label><br>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">パスワード</label><br>
        <input type="password" id="password" name="password" />
      </div>
      <button type="submit">新規登録</button>
    
    <div th:replace="~{layout :: footer}"></div>
  </body>
</html>
