<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8" />
        <title th:text="${title}">Title</title>
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div th:fragment="header">
            <header id="layout">
                <h1 id="breeze">Breeze</h1>
            </header>
        </div>
        <div th:fragment="name(Whisper)">
            <span
                th:text="${Whisper.name}"
                th:unless="${Whisper.anonymous || Whisper.WhisperId == null}"
                class="author-name"
            ></span>
            <span th:if="${Whisper.anonymous}" class="anonymous-author"
                >Whisperer</span
            >
            <span th:if="${Whisper.WhisperId == null}" class="anonymous-author"
                >Rumor</span
            >
            <span th:text="${Whisper.dateTimeFormat}" class="date-time"
                >yyyy-MM-dd</span
            >
        </div>
        <div th:fragment="footer">
            <footer id="layout">
                <h3 id="footer">&copy; Life Hackers</h3>
            </footer>
        </div>
    </body>
</html>
