<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div th:fragment="header">
      <header id="head">
        <h1 id="breeze">Breeze</h1>
      </header>
    </div>
    <div th:fragment="footer">
      <footer style="background-color: #f8f8f8; text-align: center">
        <p>&copy; Life Hackers</p>
      </footer>
    </div>
  </body>
</html>
