<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(breeze【ログイン】)}">
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <div th:replace="~{layout :: header}"></div>

        <div id="parent">
            <div id="child1">
                <button onclick="history.back()" id="button_back">
                    back<br />←
                </button>
            </div>
            <div id="child2">
                <h1 id="title">Login</h1>
                <div th:if="${param.error}" style="color: red">
                    ユーザ名、またはパスワードが違います
                </div>
                <div th:if="${param.register}" style="color: blue">
                    登録に成功しました
                </div>
                <form th:action="@{/login}" method="post">
                    <input
                        type="hidden"
                        name="_csrf"
                        value="dCb_-vTyryNy_ibHqnN-J635SvpQYiDv-DG8XKEc8TSCnVohRBfPzJfLn0BfmELynF5KHs_MZ8IyVRnCmweKapgtxAG1qDhH"
                    />
                    <div>
                        <label for="username">ユーザーネーム</label><br />
                        <input type="text" id="textbox" name="username" />
                    </div>
                    <div>
                        <label for="password">パスワード</label><br />
                        <input type="password" id="textbox" name="password" />
                    </div>
                    <button type="submit" id="button">ログイン</button>
                </form>
                <form
                    th:action="@{/register}"
                    method="get"
                    style="display: inline"
                >
                    新規登録はこちら→<button
                        type="submit"
                        class="button"
                        id="button"
                    >
                        新規登録
                    </button>
                </form>
            </div>
        </div>

        <div th:replace="~{layout :: footer}"></div>
    </body>
</html>
