<!DOCTYPE html>
<html lang="ja">

<head th:replace="~{layout :: head(ログイン)}">
</head>

<body>
    <div th:replace="~{layout :: header}"></div>

    <div id="parent">
        <div id="child1">
            <button onclick="history.back()">←back</button>
        </div>
        <div id="child2">
            <h1>Login</h1>

            <form action="/login" method="post"><input type="hidden" name="_csrf"
                    value="dCb_-vTyryNy_ibHqnN-J635SvpQYiDv-DG8XKEc8TSCnVohRBfPzJfLn0BfmELynF5KHs_MZ8IyVRnCmweKapgtxAG1qDhH" />
                <div>
                    <label for="username">ユーザーネーム</label><br>
                    <input type="text" id="username" name="username" />
                </div>
                <div>
                    <label for="password">パスワード</label><br>
                    <input type="password" id="password" name="password" />
                </div>
                <button type="submit" class="button">ログイン</button>
                <form action="/insert" method="post"><input type="hidden" name="_csrf"
                        value="dCb_-vTyryNy_ibHqnN-J635SvpQYiDv-DG8XKEc8TSCnVohRBfPzJfLn0BfmELynF5KHs_MZ8IyVRnCmweKapgtxAG1qDhH" />
                </form>
                <div>
                    新規登録はこちら→<button type="submit" class="button">新規登録</button>
                </div>
            </form>
            </form>
        </div>
    </div>

    <div th:replace="~{layout :: footer}"></div>
</body>

</html>