<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(breeze【ユーザ登録】)}"></head>
    <body>
        <div th:replace="~{layout :: header}"></div>
        <div id="parent">
            <div id="child1">
                <button onclick="history.back()" id="button_back">
                    back<br />←
                </button>
            </div>
            <div id="child2">
                <h2 id="footer">NEW USER</h2>
                <h1 id="title">Welcome!</h1>
                <div th:if="${param.invalid}" id="errorMsg">
                    ユーザ名、またはパスワードが無効です
                </div>
                <div th:if="${param.exist}" id="errorMsg">
                    ユーザーが存在するため、他の名前を使用してください
                </div>
                <form
                    th:action="@{/register}"
                    th:object="${userForm}"
                    method="post"
                >
                    <div>
                        <label for="username">ユーザーネーム</label><br />
                        <input
                            type="text"
                            id="textbox"
                            name="name"
                            th:field="*{name}"
                        />
                    </div>
                    <div>
                        <label for="password">パスワード</label><br />
                        <input
                            type="password"
                            id="textbox"
                            name="password"
                            th:field="*{password}"
                        />
                    </div>
                    <button type="submit" id="button">新規登録</button>
                </form>
            </div>
        </div>
        <div th:replace="~{layout :: footer}"></div>
    </body>
</html>
