<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: head(アルバム詳細)}"></head>

  <body>
    <div th:replace="~{layout :: header}"></div>
    <h3>アルバム詳細</h3>
    <table>
      <tr>
        <th>アルバムID</th>
        <td th:text="${album.albumId}"></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td th:text="${album.title}"></td>
      </tr>
      <tr>
        <th>アーテイスト</th>
        <td th:text="${album.artist}"></td>
      </tr>
      <tr>
        <th>リリース日</th>
        <td th:text="${album.releaseDate}"></td>
      </tr>
      <tr>
        <th>作成日時</th>
        <td
          th:text="${#temporals.format(album.createdAt, 'yyyy-MM-dd HH:mm:ss')}"
        ></td>
      </tr>
    </table>
    <h3>楽曲一覧</h3>
    <table>
      <tr>
        <th>楽曲ID</th>
        <th>タイトル</th>
        <th>再生時間</th>
        <th></th>
      </tr>
      <tr th:each="music : ${musics}">
        <td><span th:text="${music.musicId}">music id</span></td>
        <td><span th:text="${music.title}">music title</span></td>
        <td>
          <span th:text="${#temporals.format(music.duration, 'HH:mm:ss')}"
            >music duration</span
          >
        </td>

        <td>
          <form
            th:action="@{/albums/{albumId}/musics/{musicId}/edit(albumId=${album.albumId}, musicId=${music.musicId})}"
            method="get"
          >
            <button type="submit">編集</button>
          </form>
          <form
            th:action="@{/albums/{albumId}/musics/{musicId}/delete(albumId=${album.albumId}, musicId=${music.musicId})}"
            method="post"
          >
            <button type="submit">削除</button>
          </form>
        </td>
      </tr>
    </table>
    <a th:href="@{/albums/{albumId}/musics/new(albumId=${album.albumId})}"
      >楽曲を追加</a
    >
    <a href="/albums">一覧に戻る</a>
    <div th:replace="~{layout :: footer}"></div>
  </body>
</html>
