<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム一覧)}"></head>
<body>
  <div th:replace="~{layout :: header}"></div>
  <h3>アルバム登録</h3>
  <form th:action="@{/albums/new}" th:object="${albumForm}" method="post">
    <div>
      <label for="title">タイトル：</label>
      <input type="text" id="title" name="title" th:field="*{title}">
    </div>
    <div>
      <label for="artist">アーティスト：</label>
      <input type="text" id="artist" name="artist" th:field="*{artist}">
    </div>
    <div>
      <label for="release-date">リリース日：</label>
      <input type="date" id="release-date" name="release-date" th:field="*{releaseDate}">
    </div>
    <button type="submit">追加</button>
  </form>
  <div th:replace="~{layout :: footer}"></div>
</body>
</html>