<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム一覧)}"></head>
<body>
  <div th:replace="~{layout :: header}"></div>
  <h3>アルバム一覧</h3>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>アーティスト</th>
      <th>リリース日</th>
      <th>曲数</th>
    </tr>
    </thead>
      <tbody>
        <tr th:each="album : ${albums}">
          <td><span th:text="${album.albumId}">album id</span></td>
          <td><a th:href="@{/albums/{albumId}(albumId=${album.albumId})}"><span th:text="${album.title}">album title</span></a></td>
          <td><span th:text="${album.artist}">album artist</span></td>
          <td><span th:text="${album.releaseDate}">album releaseDate</span></td>
          <td><span th:text="${album.musicCount}">album musicCount</span></td>
          <td>
            <form th:action="@{/albums/{albumId}/edit(albumId=${album.albumId})}" method="get">
              <button type="submit">編集</button>
            </form>
            <form th:action="@{/albums/{albumId}/delete(albumId=${album.albumId})}" method="post">
              <button type="submit" onclick="return confirm('本当に削除しますか？');">削除</button>
            </form>
          </td>

        </tr>
      </tbody>
  </table>
  <div th:replace="~{layout :: footer}"></div>
</body>
</html>
